:root {
	--bg-dark: #2f3846;
	--bg-container-dark: #3e4755;
	--fg-dark: #dee;
	--bg-light: #ddd;
	--bg-container-light: #eee;
	--fg-light: #345;
	--green: #70b791;
	--magenta: #db8e9d;
	--yellow: #c9c76b;
	--cyan: #78b3c5;
}

* {
	margin: 0;
	padding: 0;
	transition: 0.2s ease-in-out;
}

.body-dark {
	background-color: var(--bg-dark);
	color: var(--fg-dark);
}

.body-light {
	background-color: var(--bg-light);
	color: var(--fg-light);
}

a {
	text-decoration: none;
	padding: 0.1em;
}

.body-dark a {
	color: var(--fg-dark);
}

.body-light a {
	color: var(--fg-light);
}

.fas {
	font-size: 1.5rem;
}

.fas:hover {
	color: var(--yellow);
}

.btn-theme {
	cursor: pointer;
	position: absolute;
	right: 0;
	margin: 1em;
}

#box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	width: 6em;
	padding: 3em;
	margin: 0 3%;
	border-radius: 8px;
	box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.container:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.body-dark .container {
	background-color: var(--bg-container-dark);
}

.body-light .container {
	background-color: var(--bg-container-light);
}

.container-header {
	font-size: 1.1rem;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	padding-bottom: 0.5em;
	cursor: pointer;
}

.social-link:hover {
	color: var(--green);
}

.dev-link:hover {
	color: var(--magenta);
}

.other-link:hover {
	color: var(--cyan);
}

@media (max-width: 620px) {
	.container {
		padding: 0.8em;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}
}
