* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.2s ease-in-out;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: sans;
	line-height: 1.5;
}

.body-dark {
	--bg: #2f3846;
	--bg-alt: #3e4755;
	--fg: #f0f0f0;
	--fg-alt: #fff;
	--primary: #95e1d3;
}

.body-light {
	--bg: #eee;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #126e82;
}

.fas {
	font-size: 1.5rem;
}

.fas:hover {
	color: var(--primary);
}

.btn-theme {
	position: absolute;
	right: 0;
	margin: 1.5em;
	cursor: pointer;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 13em;
	height: 14em;
	margin: 0 3em;
	border-radius: 1em;
	box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
	background-color: var(--bg-alt);
}

.container:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	color: var(--fg-alt);
}

.container a {
	text-decoration: none;
	color: var(--fg);
}

.container a:hover {
	color: var(--primary);
}

@media (max-width: 880px) {
	.container {
		margin: 0 1em;
	}
}

@media (max-width: 620px) {
	.container {
		width: 100%;
		padding: 0.5em;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}

	.container:hover {
		box-shadow: none;
	}
}
